blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
cymem==2.0.5
DateTime==4.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
gensim==3.8.3
idna==2.10
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
murmurhash==1.0.5
mysql-connector-python==8.0.23
numpy==1.20.1
packaging==20.9
pandas==1.2.2
pathy==0.4.0
Pillow==8.1.0
pkg-resources==0.0.0
preshed==3.0.5
protobuf==3.15.2
pydantic==1.7.3
pymed==0.8.9
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
selenium==3.141.0
six==1.15.0
smart-open==3.0.0
spacy==3.0.3
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.1
threadpoolctl==2.1.0
tqdm==4.57.0
typer==0.3.2
urllib3==1.26.5
wasabi==0.8.2
zope.interface==5.2.0
