body {
    width: 80%;
    margin: 0px auto;
    color: rgb(44, 44, 44);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 0px auto;
    font-size: 15px;
}

thead th:nth-child(1) {
    width: 8%;
}

thead th:nth-child(2) {
    width: 12%;
}

thead th:nth-child(3) {
    width: 30%;
}

thead th:nth-child(4) {
    width: 30%;
}

thead th:nth-child(5) {
    width: 10%;
}

thead th:nth-child(6) {
    width: 8%;
}


/* padding:
top, right, bottom, left */

.padded {
    padding: 0px 20px 0px 20px;
}

.wrapped {
    padding: 0px 50px 0px 50px;
}

tr:nth-child(even) td,
tr:nth-child(even) td {
    padding: 15px 5px 13px 5px;
}

tr:nth-child(odd) td,
tr:nth-child(odd) td {
    padding: 2px 5px 0px 5px;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: gainsboro;
}

tbody td:nth-child(1) {
    text-align: center;
}

tbody td:nth-child(2) {
    text-align: right;
}

tbody td:nth-child(5) {
    text-align: center;
}

tbody td:nth-child(6) {
    text-align: center;
}

caption {
    padding: 20px 0px 12px 0px;
    font-style: bold;
    caption-side: top;
    color: rgb(7, 7, 7);
    font-size: 14px;
    text-align: center;
}

th {
    border: none;
    border-bottom: 15px solid white;
    background-color: rgba(167, 167, 167, 0.7);
    color: rgb(27, 27, 27);
    /* font-weight: 800; */
    text-align: center;
    font-size: 1;
    padding: 3px 10px 3px 10px;
}

.pager {
    background-color: rgba(167, 167, 167, 0.39);
}


/* padding:
top, right, bottom, left */

td {
    border: none;
    border-bottom: white;
    vertical-align: top;
    transition-timing-function: ease-out;
    transition: 0.5s;
    color: rgb(15, 15, 15);
    line-height: 1.3;
}


/* to get "..." in cells */

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* page numbers */

.nav {
    font-size: 15px;
    font-weight: bold;
    color: rgb(44, 44, 44);
    padding: 10px;
    /* border: 2px solid white; */
}

.changeable {
    font-size: 14px;
    padding: 6px;
}

a:hover {
    background-color: rgba(199, 196, 196, 0.426);
}

.active {
    color: black;
    text-decoration: none;
}

a {
    color: #0000EE;
}


/* tabs style */


/* padding: top, right, bottom, left */

.tab {
    text-align: center;
}

.tab button {
    /* border: none; */
    border: 1px solid rgb(134, 134, 134);
    font-size: 14px;
    font-weight: bolder;
    color: #0000eee7;
    background-color: rgba(189, 189, 189, 0.637);
    outline: none;
    cursor: pointer;
    padding: 2px 35px 2px 35px;
    text-decoration: underline;
}

.tab button:hover {
    background-color: rgba(134, 134, 134, 0.226);
}

.tab button.active {
    /* border: none; */
    border: 1px solid rgb(134, 134, 134);
    font-weight: bolder;
    border-bottom: none;
    color: rgb(29, 29, 29);
    background-color: white;
    text-decoration: none;
}

.switch0 {
    padding: 0px 25px 0px 25px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #0000eea9;
    outline: none;
    color: #0000EE;
    font-weight: bold;
    border-radius: 0px;
}

.switch1 {
    padding: 0px 25px 0px 25px;
    font-size: 15px;
    cursor: pointer;
    background-color: gainsboro;
    border: 1px solid #0000eea9;
    outline: none;
    color: #0000EE;
    font-weight: bold;
    border-radius: 0px;
}

.switch0:hover {
    background-color: rgb(233, 233, 233);
}

.switch1:hover {
    background-color: rgb(228, 228, 228);
}

.switch0:active {
    background-color: ghostwhite;
}

.switch1:active {
    background-color: ghostwhite;
}


/* TODO: remove */

#time {
    font-size: 14px;
}

.alignleft {
    float: left;
    font-size: 14px;
    padding: 0px 35px 0px 0px;
}

.alignright {
    float: right;
    font-size: 14px;
}

.padding {
    font-size: 15px;
    padding: 0px 17px 0px 17px;
}