html {
    font-family: "Computer Modern Sans", sans-serif;
}

body {
    width: 80%;
    margin: 0px auto;
    color: rgb(44, 44, 44);
}

table {
    table-layout: fixed;
    width: 100%;    
    border-collapse: collapse;
    border: 1px solid rgb(15, 15, 15);
    margin: 0px auto;
    color: rgb(15, 15, 15);
}

thead th:nth-child(1) {
    width: 7%;
}

thead th:nth-child(2) {
    width: 13%;
}
  
thead th:nth-child(3) {
    width: 30%;
}

thead th:nth-child(4) {
    width: 30%;
}

thead th:nth-child(5) {
    width: 8%;
}

thead th:nth-child(6) {
    width: 6%;
}

thead th:nth-child(7) {
    width: 6%;
}

th, td {
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #eddc6e6b;
}
  
tbody tr:nth-child(even) {
    background-color: #edd0b09a;
}

caption {
    padding: 10px 0px 5px 0px;
    font-style: bold;
    caption-side: top;
    color: rgb(44, 44, 44);
    font-size: 18px;
    text-align: center;
}

th {
    border: solid 1px black;
}

td {
    border: solid 1px rgba(94, 94, 94, 0.788);
    vertical-align: top;
    transition-timing-function: ease-out;
    transition: 1s;  
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* page numbers */
a:hover {
    background-color: rgba(220, 220, 220, 1);
}
.active {
    color: black;
}
a {
    color: #0000EE;
}

/* tabs style */
.tab button {
    font-size: 16px;
    font-weight: 500;
    color:rgb(15, 15, 15);
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
}
.tab button.active {
    border: 1px solid rgb(134, 134, 134);
    font-weight: bolder;
    border-bottom: none;
    color: rgb(29, 29, 29);
    background-color: white;
}

[id^="switch"] {
    padding: 0px 25px 0px 25px;
    cursor: pointer;
}